@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #3d3c40;
    min-height: 100vh;
    color: #ffffff;
}

/* Colors */
.primary-color {
    color: #f44336;
}

.accent-color {
    color: #ffc107;
}

.light-grey {
    color: #c6c6c6;
}
