@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    padding-top: 110px;
    background-color: #3d3c40;
    color: #ffffff;
}

.card {
    width: 80vw;
}

@media (width > 1024px) {
    .card {
        width: 65vw;
    }
}

@media (width > 1440px) {
    .card {
        width: 50vw;
    }
}

/* Headings */
h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.3rem;
}

/* Buttons */
.button {
    min-width: 30vw;
}

@media (width > 768px) {
    .button {
        min-width: 25vw;
    }
}

@media (width > 1024px) {
    .button {
        min-width: 20vw;
    }
}

@media (width > 1444px) {
    .button {
        min-width: 15vw;
    }
}
